<a href="https://colab.research.google.com/github/subhrapattnaik/FSDS-PRO/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
#With list comprehension you can do all that with only one line of code:

['apple', 'banana', 'mango']

In [4]:
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]
newlist
#The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

['banana', 'cherry', 'kiwi', 'mango']

In [6]:
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [8]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
newlist = [x for x in range(10) if x < 5]
newlist
#Accept only numbers lower than 5:

[0, 1, 2, 3, 4]

In [14]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)
#Set all values in the new list to 'hello':

['hello', 'hello', 'hello', 'hello', 'hello']

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)
#Return "orange" instead of "banana":

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [18]:
list1 = [12, 15, 3, 10]
sum = 0

#list comprehension.
#[<do-this> <iteration> < condition>]
#condition is optional

_ = [sum:=sum +x for x in list1]
sum

40

In [19]:
numbers = [x for x in range(1, 6)]
numbers

[1, 2, 3, 4, 5]

In [20]:
squares = [x**2 for x in numbers]
squares

[1, 4, 9, 16, 25]

In [21]:
even_numbers = [x for x in numbers if x % 2 == 0]
even_numbers

[2, 4]

In [24]:
numbers = [1, 2, 3, 4, 5, 6]

even_or_odd = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
even_or_odd

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [25]:
numbers = [1, 2, 3, 4, 5, 6]

divisible_by_2_and_3 = [num for num in numbers if num % 2 == 0 and num % 3 == 0]
divisible_by_2_and_3

[6]

In [32]:

names = ["alice", "bob", "charlie"]

uppercase_names = [name.upper() for name in names]
uppercase_names

['ALICE', 'BOB', 'CHARLIE']

In [33]:
pairs = [(x, y) for x in [1, 2, 3] for y in ['a', 'b', 'c']]
pairs

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [36]:
numbers = [1, 2, 3, 4, 5]

even_squares = [num ** 2 for num in numbers if num % 2 == 0]
even_squares

[4, 16]

In [43]:
#Dictionary Comprehension:
names = [ "Alice", "Bob","Charlie"]

name_lengths = {name: len(name) for name in names}
name_lengths

#In this example, we create a dictionary where the keys are names from the names list, and the values are the lengths of those names.

{'Alice': 5, 'Bob': 3, 'Charlie': 7}

In [44]:

#Set Comprehension:

numbers = [1, 2, 3, 4, 5]

even_numbers = {num for num in numbers if num % 2 == 0}
even_numbers

{2, 4}