<a href="https://colab.research.google.com/github/subhrapattnaik/FSDS-PRO/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
#With list comprehension you can do all that with only one line of code:

['apple', 'banana', 'mango']

In [4]:
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]
newlist
#The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

['banana', 'cherry', 'kiwi', 'mango']

In [6]:
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [8]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
newlist = [x for x in range(10) if x < 5]
newlist
#Accept only numbers lower than 5:

[0, 1, 2, 3, 4]

In [14]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)
#Set all values in the new list to 'hello':

['hello', 'hello', 'hello', 'hello', 'hello']

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)
#Return "orange" instead of "banana":

['apple', 'orange', 'cherry', 'kiwi', 'mango']